**/__pycache__
.vscode
Baselines

checkpoints/*.ckpt
checkpoints/ablations
checkpoints/baselines
checkpoints/detectors
checkpoints/encoders/BYT5
checkpoints/encoders/CLIP
checkpoints/encoders/OpenCLIP
checkpoints/AEs/*
checkpoints/predictors/*
checkpoints/pretrained/*
checkpoints/encoders/LabelEncoder/*
checkpoints/encoders/ViTSTR/*

logs
outputs
src
temp
run.sh
test_baseline.py